div.indices-article {
    background-color: #fece3f;
}
div.question {
    background-color: #fece3f;
}
div.question-box{
    background-color: whitesmoke;
}
div.indices-card{
    background-color: whitesmoke;
}
p.desc{
    color: rgb(40, 13, 93);
}